
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: auto;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  background: url(/static/images/fondo.jpg) no-repeat center center fixed;
  background-size: cover;

}


.logo{
  width: 50px;
  height: 25px;  
}


nav{
    display: flex;
    align-items:center;
    justify-content: space-around;
    min-height:8vh;
    background-color: #000000;
}

.ham{
  display:none;
  background-color:transparent;
  cursor: pointer;
  border:none;
  margin:0;
  padding:0;
  }
  
  .ham span{
      background-color: #f3f3f3;
      display:block;
      height:3px;
      width: 28px;
      margin:10px auto;
      border-radius:2px;    
  }
.enlaces-menu{
    display:flex;
    padding:0;
}
.enlaces-menu li{
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}

.enlaces-menu li a{
    text-decoration:none;
    font-size: 1.8rem;
    color:#f3f3f3;
    font-weight:600;
}
.enlaces-menu li:hover{
    background-color:rgb(62, 130, 197);
}


/*======================================publicidad========================*/
  
.publicidad_entrada{
  display: inline-flex;
  align-items: center;
  height: 200px;
  width: 200px;
  background: #000000;
  color: white;
  margin-bottom: 10px;
  margin-left: 80px;
  border-radius: 10px;
  margin-bottom: 10px;
}


.publicidad_u{
    height: 80px;
    width: auto;
    background: #030303;
    color: white;
    margin-bottom: 10px;
    padding-left: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
        }

        .publicidad_d{
          height: 60px;
          width: auto;
          background: #030303;
          color: white;
          margin-bottom: 10px;
          padding-left: 300px;
          border-radius: 10px;
          margin-bottom: 10px;
         }

         .publicidad_d2{
            height: 40px;
            width: auto;
            background:rgb(0, 0, 0);
            color: white;
            margin: auto;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            padding-top: 15px;
            margin-bottom: 20px;
         }     



/*=============================dipsitivos moviles=======================*/



/*--------------------------------animaciones-------------------------*/
/* Animaciones */

@keyframes muestraMenu {
  from {opacity: 0;}
  to {opacity: 1;}
}

.enlaces-menu.activado{
    display:flex; 
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado{
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
  opacity: 0;
}
.br-3.animado{
  transform: rotate(45deg) translate(-10px, -8px);
}

.ham.girar:hover{
   transform:rotate(360deg);
}
     

.pago{
    background-color: #000000;
    color: white;
    font-size: 12px;
    padding: 30px;
    width: auto;
    border:solid 5px LightSteelBlue;
   
    margin-bottom: 10px;
    }
    
    .pago fieldset{
    border: none;
    }
    
    .pago h1{
        text-align: center;
        margin-bottom: 10px;            
        } 
    
    .pago  ol li{
    line-height: 25px;
    list-style: none;
    list-style-type: none;
    }
    
  

    .pago select{
        font-size:12px;
        background: yellow;
        border:solid 1px Green;
        border-radius: 5px;
        float: right;
        margin-right: 40px;

        width: 150px;
      }
      .pago select option{
        background:black;
        color:red;
      }
      .pago select option:disabled{
        background: blue;
      }

      .pago input{
        font-size:12px;
        background: yellow;
        border:solid 1px Green;
        border-radius: 5px;
        float: right;
        margin-right: 40px;

        width: 150px;
        }

    .pago button{
        font-size:12px;
        background: yellow;
        border:solid 1px Green;
        width: 150px;
        height: 25px;
        margin-left: 60px;

        width: 150px;
        }

    .socios option {
background-color: #ddd;
color: black;

    }

    .socios input{
        font-size:14px;
        background: yellow;
        width:auto;
        }


/*----------------------------------encabezado--------------------------*/
    
    .encabezado{
        margin:auto;
        
        background-color: #000000;
        color: white;
        font-size: 14px;
        padding: 30px;
        width: auto;
        border:solid 5px  LightSteelBlue;
        overflow: hidden;
    }        
    .encabezado input{
        font-size:14px;
        color: rgb(255, 255, 255);
        width:200px;
        background-color: rgb(0, 0, 0);
        border: none;
        margin-left: 100px;
        }
        


        .encabezado ol li{
                line-height: 25px;
                list-style-type: none;
                padding: 4px;
                }

    .encabezado h1{
        text-align: center;
        margin-bottom: 10px;            
        } 

/*-----------------------------------login-------------------------------*/
        .login{
            
            background-color:black;
            color: white;
            font-size: 12px;
            padding: 30px;
            width: auto;
            border:solid 10px LightSteelBlue;
            overflow: hidden;
            margin-bottom: 10px;
            }

            .login  ol li{
                line-height: 25px;
                list-style: none;
                padding: 4px;
                }

            .login h1{
                    text-align: center;
                    margin-bottom: 10px;            
                    }                 
            

            .login input{
            font-size:12px;
            background: yellow;
            border:solid 1px Green;
            border-radius: 5px;
            float: right;
            width: auto;
            margin-right: 40px;

            width: 150px;
            }

        .login button{
            font-size:12px;
            background: yellow;
            border:solid 1px Green;
            width: 150px;
            height: 30px;
            float: right;
            margin-right: 100px;
            color: #000000;
            border-radius: 5px;
 
            }
            
        .login input[type="password"]{
            font-size: 12px;
            width: 150px;
            height: 20px;
            padding: 10px;
            border: none;
            background:  yellow;
        }    

        .msg{
        color: rgb(255, 87, 20);
        font-size: 20px;
        } 
            
   

/*-----------------------------------login prinsipal------------------------*/        
        .login-entrada{
            background-color: #000000;
            color: white;
            font-size: 12px;
            padding: 30px;
            width: auto;
            height: 350px;
            overflow: hidden;
            border:solid 10px LightSteelBlue;
            margin-top: 60px;
            }
            
        .login-entrada fieldset{
            border: none;
            }
            
        .login-entrada h1{
            text-align: center;
            margin-bottom: 10px;            
            }        
            
        .login-entrada  ol li{
            line-height: 25px;
            list-style: none;
            list-style-type: none;
          padding-top: 20px;
            }
            
        .login-entrada  [required]{
            border:solid 1px red;
            }
            
        .login-entrada input:required {
            outline: 1px solid red;
            }
        
        .login-entrada select{
                font-size:12px;
                background: yellow;
                border:solid 1px Green;
                border-radius: 5px;
                float: right;
                margin-right: 20px;        
                width: 250px;
                height: 30px;
              }

        .login-entrada select option{
                background:white;
                color:red;
              }

        .login-entrada select option:disabled{
                background: blue;
              }
        
        .login-entrada input{
                font-size:12px;
                background: yellow;
                border:solid 1px Green;
                border-radius: 5px;
                float: right;
                margin-right: 20px;  
                height: 30px; 
                width: 250px;
                }
        
        .login-entrada button{
                font-size:14px;
                background: yellow;
                color: black ;
                font-weight: 700;
                border:solid 1px Green;
                width: 350px;
                height: 30px;
                text-align: center;
               padding-top: 5px;
                margin-top: 15px;
                float: right;
                margin-right:20px;   
              
                }        

/*---------------------------tables-------------------------------------*/

.tables{
    margin:auto;
    background-color: #000000;
    color: white;
    font-size: 12px;
    padding: 30px;
    width: auto;
    border:solid 10px LightSteelBlue inset;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
.tables fieldset{
    border: none;
    }
    
.tables h1{
    text-align: center;
    margin-bottom: 10px;
    }   
    
.tables table{
        margin: auto;  
         width:350px;
         text-align: center;
       
       }
       
       
.tables th, td {
           width:min-content;
           border: 0;
           color: white;
         }
           
.tables  ol li{
    line-height: 25px;
    list-style: none;
    list-style-type: none;
  padding-top: 20px;
    }
    
.tables  [required]{
    border:solid 1px red;
    }
    
.tables input:required {
    outline: 1px solid red;
    }

.tables select{
        font-size:12px;
        background: yellow;
        border:solid 1px Green;
        border-radius: 5px;
        float: right;
        margin-right: 10px;        
        width: 80px;
        height: 20px;
      }

.tables select option{
        background:black;
        color:red;
      }

.tables select option:disabled{
        background: blue;
      }


.tables button{
        font-size:14px;
        background: yellow;
        color: black ;
        font-weight: 700;
        border:solid 1px Green;
        width: 350px;
        height: 20px;
        text-align: center;
       padding-top: 5px;
        margin-top: 15px;
        margin-right:10px;   
      
        }   
        
/* DISPOSITIVOS MOVILES */

@media (max-width:768px) {



  .ham{
      display:block;
      cursor:pointer;
      position: absolute; 
      top:15px;
      right:25px;
      transition: 0.2s  0.1s; 

  }

  
  nav{
      flex-direction:column;
      align-items: flex-start;
      padding-top: 25px;
      padding-bottom: 25px;
      min-width: 460px;
  }

  .logo{
    padding-left:25px;
    
  }

  .enlaces-menu{
    
      flex-direction:column;
      justify-content: space-around;
      align-items:center;
      height: 92vh;         
      margin:0;
      padding:0; 
      display:none;
      opacity:0;
      transition: opacity 5s ease-out;
      width:100%;
  
     
    }
    .enlaces-menu li{
      text-align:center;
      width:100%;
      padding:20px;    
  }

  .publicidad_entrada{
    display: inline-block;
    align-items: center;
    height: auto;
    width: 200px;
    background: #000000;
    margin-left: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .publicidad_u{
    padding-left: 100px;
    min-width: 460px;
    }

  .publicidad_d{
    padding-left: 100px;
    min-width: 460px;
    }  
    
    .encabezado{
      display: inline-table;
      min-width: 460px;
    }

    .publicidad_d2{
      min-width: 460px;
    }  

      .login{
        min-width: 460px;

      }   
      
      .pago{
        min-width: 460px; 
      }

    .tables{
      min-width: 460px;
    }

  .login-entrada{
    min-width: 460px;


}      


}        