{% extends "layout.html" %}
{% block content %}
{{ super() }}
<fieldset class="publicidad">
        <div class="card">
            <img src="/static/images/1.png" alt="">
            <div class="botones">
                <a href="#" class="boton primario">Comprar</a>
                <a href="#" class="boton secundario">Ver más</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/2.png" alt="">
            <div class="botones">
                <a href="#" class="boton primario">Comprar</a>
                <a href="#" class="boton secundario">Ver más</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/3.png" alt="">
            <div class="botones">
                <a href="#" class="boton primario">Comprar</a>
                <a href="#" class="boton secundario">Ver más</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/4.png" alt="">
            <div class="botones">
                <a href="#" class="boton primario">Comprar</a>
                <a href="#" class="boton secundario">Ver más</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/5.png" alt="">
            <div class="botones">
                <a href="#" class="boton primario">Comprar</a>
                <a href="#" class="boton secundario">Ver más</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/6.png" alt="">
            <div class="botones">
                <a href="#" class="boton primario">Comprar</a>
                <a href="#" class="boton secundario">Ver más</a>
            </div>
        </div>
</div>
</fieldset>
{% endblock %}