{% extends "layout.html" %}
{% block content %}
{{ super() }}
<section class="grid">
    <div class="card">
        <img src="img/1.png" alt="">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
            <a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="img/2.png" alt="">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
            <a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="img/3.png" alt="">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
            <a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="img/4.png" alt="">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
            <a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="img/5.png" alt="">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
            <a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="img/6.png" alt="">
        <div class="botones">
            <a href="#" class="boton primario">Comprar</a>
            <a href="#" class="boton secundario">Ver más</a>
        </div>
    </div>
</section>
</div>
{% endblock %}