<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>Mototaxistas</title> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
 <link rel="webside icon" type="png" href="/static/favicon_io/favicon-32x32.png">
 <link rel="stylesheet" href='/static/css/estilo.css'>
</head>  
<body>
  <fieldset class="login-entrada">
  <form  method='POST' action="/verificador">    
  <legend><h1>GRUPO ACTEC MOTOBEN</h1></legend> 
  <ol>
  <li>  
  {% with messages = get_flashed_messages()%}
  {% if messages%}
  {% for message in messages%}
     <div class="msg">{{message}}</div>
  {%endfor%}
  {%endif%}
  {%endwith%} 
  </li>
  <li> 
  <label for="parada">Parada</label>          
  <select name="parada" id="parada">
        <optgroup label="Paradas">
          {%for parada in paradas%}
          <option selected ></option>   
          <option >{{parada}}</option>
          {%endfor%}
        </optgroup>
  </select>      
  </li> 
  <li>     
    <label for="cedula">Cedula</label>
    <input type="text" name="cedula" id="cedula" placeholder="Cedula" required>       
  </li>
  <li> 
    <label for="clave">Clave</label>
    <input type="password" id="clave" name="clave" placeholder="Contraseña" required>    
  </li>
  </ol>
  <button type="submit"  class="button">ENTRAR</button>
  </form>
  </fieldset> 
</body>
</html>