{% extends "layout.html" %}
{% block content %}
{{ super() }}

<fieldset class="login">
<form action="/login_dir" method="POST">	
<legend><h1>Digitador(a)</h1></legend> 		           
	<ol>
	<li>	
	<div class="msg">{{msg}}</div>
	</li>
	<li>
	<label for="username">Nombre</label>
	<input id="username" name="username" type="text" placeholder="Coloque su nombre"/>		
	</li>
	<li>
	<label for="cedula">Cedula</label>
	<input id="cedula" name="cedula" type="text" placeholder="Entre su cedula"/>		
	</li>
	<li>
	<label for="password">Contraseña</label>
	<input id="password" name="password" type="password" placeholder="Entre su Password"/>
	</li>
    </ol>
	<button type="submit" class="btn" >Ingresar</button>	
	</form>
</fieldset>
{% endblock %}